body,
div,
ul,
li,
p,
h2,
h3,
h4,
h5,
h6{
  padding:0;
  margin:0;
  font-family: "Exo", sans-serif;
  /*color: white;*/
}

body{
  background: url("http://cdn01.wallpapersonweb.com/media/tn5/1/11/108564.jpg");
}

.container-1{
  width: 140px;
  margin-top: 58px;
  white-space: nowrap;
  position: relative;
  float: right;
  padding:3px;
}


.container-1 input#search{
  width: 140px;
  height: 28px;
  background: white;
  border: none;
  font-size: 11pt;
  float: left;
  color: #63717f;
  padding-left: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
  

#role{
  color: #ffab23;
  font-style: italic;
}
.clear-fix {
  overflow: auto;
}

#header{
 
  padding-bottom: 20px;
  margin:0 auto;
}

.flex-box {
  display: -webkit-flex;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  float:right;
  margin-right:65px;
  margin-top: 15px;
}

.flex-container{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap:wrap;
  flex-wrap: wrap;
  width:83%;
  height:100%;
  margin: 0 auto;
  position: relative;

}

.flex-item{
  width:46%;
  margin: 0 auto;
  margin-top: -12px;
}

#skill li{
  color: white;
}

li {
  list-style-type: none;
  color:#2187e7;
  
}

i{
  padding: 4px;
  margin-top: 40px;

}

h1 {
  margin-bottom: 0px;
  font-size: 55px;
  color: white;
  font-family: 'Exo', sans-serif;

}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: white;
  line-height: 29px;
  margin-bottom: 20px;

}

h3 {
  font-size: 20px;
  color:#2187e7;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}


h3,
h4,
h5 {
  padding:0px 5%;

}

img {
  /*padding: 20px 50px;*/
  margin: 50px 50px 20px 68px;
  width: 18%;
  float:left;
  /*border-radius: 50%*/

}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
  margin-top: 5px;

}

button {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:1px 4px;
  margin: 2px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  float: right;
}
button:hover {
  background-color:#ffab23;
}
button:active {
  position:relative;
  top:1px;
}

a {
  /*color: #1199c3;*/
  color: white;
  text-decoration: none;
  margin-top: 0px;
  display: block;
  /*background-color: black;*/
}

.demoButton,
.gitHubButton{
  color:black;
}

.white-text {
  font-weight: bold;
  color: #000;
}

.gray {
  background-color: #f3f3f3;
  clear:both;
}

.center-content {
  padding: 2.5% 5%;
}
/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  /*display: block;*/
  height: 100%;
  /*margin: 0 auto;*/
}

#mapDiv {
  height: 400px;
  width: 80%;
  padding-bottom: 5%;
  margin: 0 auto;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

/*icon styels:*/
/*modify the text color to white inside the icon*/
.fa-phone-square{
  color:lime;  
}
.fa-envelope-square{
  color:crimson; 
}

.fa-linkedin-square{
  color:#4875B4;
}
.fa-github-square{
  color: white; 
}
.fa-facebook-square{
  color:#3B5998;  
}
.fa-map-marker {
  color: #DB302E;
}
.fa-search {
  color: white;
}
#footer{
  text-align: center;
  margin: 10px;
  color: white;
}

/*style skills*/

#skills {
    list-style: none;
    padding-top: 30px;
}

#skills li {
    margin-bottom: 50px;
    background: #000;
    height: 5px;
    border-radius: 3px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}

#skills li em {
    position: relative;
    top: -30px;
}

.expand {
    height: 1px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);
}


.html5 {
    width: 43%;
    -moz-animation: html5 2s ease-out;
    -webkit-animation: html5 2s ease-out;
}

.css3 {
    width: 28%;
    -moz-animation: css3 2s ease-out;
    -webkit-animation: css3 2s ease-out;
}

.jquery {
    width: 8%;
    -moz-animation: jquery 2s ease-out;
    -webkit-animation: jquery 2s ease-out;
}

.javascript {
    width: 11%;
    -moz-animation: javascript 2s ease-out;
    -webkit-animation: javascript 2s ease-out;
}

.python {
    width: 15%;
    -moz-animation: python 2s ease-out;
    -webkit-animation: python 2s ease-out;
}

.git {
    width: 35%;
    -moz-animation: git 2s ease-out;
    -webkit-animation: git 2s ease-out;
}

.canvas {
    width: 24%;
    -moz-animation: canvas 2s ease-out;
    -webkit-animation: canvas 2s ease-out;
}

@-moz-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 43%;
    };
}

@-moz-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 28%;
    };
}

@-moz-keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 8%;
    };
}

@-moz-keyframes javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 11%;
    };
}

@-moz-keyframes python {
    0% {
        width: 0px;
    }

    100% {
        width: 15%;
    };
}

@-moz-keyframes git {
    0% {
        width: 0px;
    }

    100% {
        width: 35%;
    };
}
@-moz-keyframes canvas {
    0% {
        width: 0px;
    }

    100% {
        width: 24%;
    };
}

@-webkit-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 43%;
    };
}

@-webkit-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 28%;
    };
}

@-webkit-keyframes jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 8%;
    };
}

@-webkit-keyframes javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 11%;
    };
}

@-webkit-keyframes python {
    0% {
        width: 0px;
    }

    100% {
        width: 15%;
    };
}
@-webkit-keyframes git {
    0% {
        width: 0px;
    }

    100% {
        width: 35%;
    };
}
@-webkit-keyframes canvas {
    0% {
        width: 0px;
    }

    100% {
        width: 24%;
    };
}


